<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>Cageythree</string>
	<key>mail</key>
	<string>cageythree@xn--4caaa.eu</string>
	<key>reddit</key>
	<string>cageythree</string>
</dict>
</plist>
